.seventh-bg {
  background: #E27866;
  width: 100%;
  height: 573px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.seventh-bg-content {
  text-align: center;
  color: white;
}

.seventh-bg-content p {
  transform: translateY(330%);
}

.form7 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	font: normal normal 600 12px Montserrat;
	height: 314px;
	width: 390px;
	border-radius: 5px;
	background-color: white;
}

.form-center {
	text-align: center;
}

.form7 input[type="text"] {
	width: 260px;
	border-bottom: 1px solid #CCC;
	border-top: none;
	border-left: none;
	border-right: none;
	text-align: center;
	font-size: 16px;
}

.form7 input::placeholder {
	color: #CCC;
	font-size: 18px;
}

.form7 input[type="submit"] {
	font-size: 20px;
	text-align: center;
  margin-bottom: 10px;
	padding: 8px;
  width: 158px;
  height: 48px;
  border-radius: 5px;
	border: none;
	background-color: #41D395;
	color: white;
	cursor: pointer;
}

.form7 input[type="submit"]:hover {
	color: white;
	background-color: #17B169;
}

.rights2 {
  display: block;
  height: 124px;
  background: #1C1C1C;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .terms {
    height: 50px;
    display: flex;
    color: grey;
    flex-direction: column;
    justify-content: space-around;
  }
    ul {
      list-style: none;
      width: 350px;
      height: 10px;
      display: flex;
      justify-content: space-between;

    p {
      color: grey;
    }
  }

  .social2 {
    width: 470px;
    display: flex;
    justify-content: space-between;
    i {
      color: #E27866;
      font-size: 20px;
    }
  }
}

@media (max-width: 690px){
  .rights2 {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1100px){
  .rights2 {
  }
}
