.third-bg {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  height: 596px;
  width: 100%;
  color: white;
  background: #1C1C1C
}

.third-bg-logo {

}

.third-content-left {

}

.title1-logo {
  width: 50px;
  height: 50px;
  background: #E27866;
  border-radius: 50%;
  transform: translateX(-120%) translateY(100%);
}
.title2-logo {
  width: 50px;
  height: 50px;
  background: #E27866;
  border-radius: 50%;
  transform: translateX(-120%) translateY(100%);
}

.title1 {
display: flex;
flex-direction: column;

}
.title2 {
display: flex;
flex-direction: column;
}

.title-content {
  padding-left: 60px;
}

.logo i {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  transform: scale(1.5);

}

// media
@media (max-width: 690px){
  .third-bg {
    flex-direction: column;
    height: 900px;
  }
}
@media (max-width: 1000px){
  .third-bg {
    height: 770px;
  }
}
